
input[name="aproveing"]{
    color: rgb(45,45,45);
    background-color: rgba(45,45,45,.0);
    border: 0px solid rgba(255,255,255,.0);
    height: 35px;
    margin-top: 2px;
}

input[name="aproveing"]:hover{
    background-color: rgba(45,45,45,1);
}

input[name="nick"]{
    background-color: rgba(45,45,45,1.0);
    border: 0px solid rgba rgba(45,45,45,0);
    width: 220px;
    height: 35px;
    font-size: 18px;
    margin-right: 10px;
}

input[name="nick"]:hover{
    //border-bottom: 2px solid rgba(230,115,0,1.0);
    background-color: rgba(45,45,45,1.0);
    color: #FFF;
    font-size: 18px;
}

input[name="nick"]:focus{
    //border-bottom: 2px solid rgba(230,115,0,1.0);
    background-color: rgba(45,45,45,1.0);
    color: #FFF;
    font-size: 18px;
}

div.margindown{
    margin-top: 20px;
}

div.exist{
    border: 2px solid rgb(230,115,0);
    padding: 10px;
    background-color: rgb(45,45,45);
    width: 40%;
    border-radius:10px;
    color: #FFF;
}
