div.photo{
    display: inline;
    float: left;
    width: 50px;
    box-shadow: 10px 10px 5px #000;
    border-radius: 10px;
}

img{
    border-radius: 10px;
}


div.user{
    margin-left: 65px;
    width: 90%;
    height: 20px;
    font-size: 15px;
}

div.data{
    display:inline;
    margin-left: 10px;
    width: 30%;
    text-align: right;
    font-size: 11px;
}

div.text{
    color: rgb(45,45,45);
    margin-left: 110px;
    margin-top: 15px;
    background-color: rgb(255,143,32);
    border-radius: 10px;
    box-shadow: 10px 10px 5px #000;
    padding: 10px;
    border-top-left-radius: 0px; 
}

div.delete{
    text-align: right;
    margin-top: 12px;
}

input{
    color: rgb(230,115,0);
    background-color: rgba(45,45,45,0);
    font-family: sans-serif;
    font-size: 25px;
    border:1px solid rgb(45,45,45);
}

input[value="delete"]{
    color: rgb(230,115,0);
    background-color: rgba(45,45,45,0);
    font-family: sans-serif;
    font-size: 15px;
    border:1px solid rgb(45,45,45);
}

input[type="submit"]:hover{
    color: #FFF;
}

div.algin_right{
    margin-left: 50%;
}

textArea{
    height: 15%;
    width: 60%;
    resize: none;
    text-align: center;
    background-color: rgba(255,143,32, .5);
    border:1px solid rgba(255,143,32, 0);
    color: rgb(45,45,45);
    font-size: 20px;
    font-family: sans-serif;
    
}

textArea:focus{
    background-color: rgba(255,143,32, 1);
}